@import "./utilities";
@import "./home";
@import "./miniSlider";
@import "./navbar";
@import"./_slider.scss";
@import "./products";
@import "./productDetails";
@import "./login";
@import "./offers";
@import "./location";
@import "./register";
@import "./invite";
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* width */
::-webkit-scrollbar{
    width: 10px;
  }
/* Track */
::-webkit-scrollbar-track{
    background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb{
    background: $brown; 
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover{
    background: lighten($brown, 10%); 
}